<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>
<h3>Invoices</h3>
<% if current_user.has_active_subscription? %>
  <div id="upcoming">
    <h4> Upcoming Invoice:</h4>
    Due on:<%= @upcoming.date.to_s(:short_date) %><br>
    Amount due:<%= number_to_currency @upcoming.total %>
  </div>
<% end %>
  <div id="invoices">
    <h4> Generated Invoices:</h4>
    <table>
      <thead>
        <tr>
          <td>Number</td>
          <td>ID</td>
          <td>Date</td>
          <td>Amount</td>
          <td>Status</td>
        </tr>
      </thead>
      <%= render @invoices %>
    </table>
    If you had any previous cancelled subscription, thsoe invoices are not listed
  </div>
