You are subscribed to plan: <%= @plan %><br>
<%#<%= form_for plan_update do |f| %>%>
  <%#<div class="field">%>
    <%#<%= f.label :plans %><br />%>
    <%#<%= f.collection_select(:plan_id, Plan.all, :id, :name) %>%>
  <%#</div>%>
<%#<% end %>%>
